body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 40px;
}
h1{
    color:#c6882a;
}
h2{
    color:#555;
}
ul{
    background:#ffffff;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
}
a{
    color:#0066cc;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.container{
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 100%;
    box-sizing: border-box;
    
    
}
.dark-mode{
    background-color: #121212;
    color: #ffffff;

}
.project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project-card{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    flex: 1 1 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    max-width: 100%;
    object-fit:cover;
    border:4px solid #2c3e50;
}
.content{
    max-width:600px;
} 
@media (max-width: 768px){
    .container{
        flex-direction:column;
        text-align:center;
    }
    .profile-img{
        width:150px;
        height:150px;
    }
}  